@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Yekan_reqular;
    src: url("../fonts/YekanBakhFaNum-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_bold;
    src: url("../fonts/YekanBakhFaNum-Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_extrabold;
    src: url("../fonts/YekanBakhFaNum-ExtraBold.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_thin;
    src: url("../fonts/YekanBakhFaNum-Thin.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_semibold;
    src: url("../fonts/YekanBakhFaNum-SemiBold.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_light;
    src: url("../fonts/YekanBakhFaNum-Light.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_black;
    src: url("../fonts/YekanBakhFaNum-Black.ttf");
    font-style: normal;
}
@font-face {
    font-family: Yekan_extrablack;
    src: url("../fonts/YekanBakhFaNum-ExtraBlack.ttf");
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p,
a,
tspan,
td,
th,
tr {
    font-family: Yekan_reqular !important;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
.datepickerzaman {
    position: absolute !important;
    top: 0 !important;
    bottom: 250 !important;
    right: 0 !important;
    left: 0 !important;
}
